$maincolor: blue
$subcolor1: lightblue
$darkcolor1: #222222
$darkercolor: rgb(20, 19, 19)
$whitebg1: #cacfd6
$menufont: Gruppo
$mainblue: #2854a1

@font-face 
    font-family: 'Gruppo'
    src: url(../fonts/Gruppo-Regular.ttf)

@font-face 
    font-family: 'Poppins'
    src: url(../fonts/Poppins-ExtraLight.ttf)

#pp-nav
    margin-top: 300px !important
    margin-left: -50px !important

.mobileshow
    height: 0vh
    width: 0vw
    font-family: Poppins
    background-color: $whitebg1
    font-size: 40px
    

@media(max-width: 1100px) 
    .mobileshow
        height: 100vh
        width: 100vw
a
    color:$mainblue

body
    margin: 0
    .navbar2
        margin-top: -10px

        width: 100%
        font-family: $menufont

        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-evenly
        align-items: center
        align-content: stretch
        width: 100%
        
        height: 50px
        z-index: 3
        font-weight: 900

            
        a
            color: white
            text-decoration: none
            font-weight: bolder
            padding-top: 20px
            padding-bottom: 20px
            
            transition-duration: 0.2s
            
            &:hover
                margin-top: 20px
        

html
    scroll-behavior: smooth

.section
    overflow: hidden

.homepage
    //width: 100%
    //height: 100vh
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    align-content: stretch
    background-color: $whitebg1
    .textwrapper
        height: 50vh
        width: 100%
        font-family: poppins
        font-size: 13px
        font-weight: 900
        
        .name
            width: 100%
            font-family: Poppins
            
            font-size: 30px



    .navwrapper
        height: 50vh
        width: 100%
        font-family: $menufont
        .nobg
            background: rgba(0,0,0,0) !important
        .navbar
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-evenly
            align-items: center
            align-content: stretch
            width: 100%
            background-color: $darkcolor1
            height: 50px
            z-index: 3
            font-weight: 900

            
            a
                color: white
                text-decoration: none
                font-weight: bolder

        .expendbar
            color: white
            background-color: $darkcolor1
            height: 0px
            width: 100%
            transition: height 0.5s, margin 0.5s 
            text-align: center
            z-index: -2
            position: relative
            margin-top: -25px
            
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            overflow: hidden
            font-size: 0px


            p
                margin: 0
                color: rgb(20, 19, 19)
                font-weight: 100
                
        .expended  
            height: 200px 
            margin-top: -125px 
            font-size: 150px


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)



.aboutme
    //width: 100%
    //height: 100vh
    background-color: $darkcolor1
    //position: relative
    .hoverme
        margin-left: 18%
        font-family: Poppins
    
    h2
        font-size: 100px 
        color: $whitebg1 
        border-bottom: 8px solid $mainblue
        width: 490px
        font-family: Poppins
        margin-left: 10px
        height: 120px
        margin-bottom: 0
    .contentwrapper
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: space-around
        align-items: center
        align-content: center
        width: 70%
        margin: auto
        font-family: Poppins
        height: 600px
        .text
            color: $whitebg1
            
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: center
            align-content: center
            width: 100%
            .mebackground
                height: 292px
                width: 300px
                margin-left: 9%
                display: none
                
                position: relative
                
                overflow: hidden
                img 
                    position: absolute
                    width: 300px
                    height: auto
                    
                .lazer
                    animation: spin 2s linear infinite
                    height: 330px
                    width: 300px
                

            

        .skillwrapper
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-between
            align-items: center
            align-content: center
            width: 100%
            .skillblock
                
                width: 300px
                height: 300px
                color: $whitebg1
                background-color: $mainblue
                display: flex
                flex-wrap: norwrap
                flex-direction: column
                justify-content: center
                align-content: center
                align-items: center
                .expand
                            height: 150px
                ul
                    padding: 0
                    overflow: hidden
                    height: 0px
                    transition-duration: 0.3s
                    li
                        list-style-type: none
                        
                
                h3
                    font-size: 40px
                    margin: 0
                    text-align: center
        



	
    
        

.projectwrapper
    background-color: $darkercolor
    h2
        font-size: 70px 
        color: $whitebg1 
        margin: 0
        border-left: 10px $mainblue solid
        font-family: Poppins
        margin-left: 10px

    .contentwrapper
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-items: center
        align-content: stretch
        font-family: poppins
        color: $whitebg1

        .slickwrapper
            width: 65%
            .slick-arrow
                margin-left: -100px
            .slick-prev
            .project
                margin: 20px 0
                height: 600px
                background-color: $darkcolor1
                text-align: center
                .projectcontent
                    display: flex
                    justify-content: space-evenly
                    align-items: center
                    align-content: center
                    p
                        width: 300px

        .leftblock
            width: 25%
            height: 400px
            color: $whitebg1
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-around
            align-items: center
            align-content: center
            p
                width: 60%
            .customnext

            .customback

            button
                width: 50px
                height: 50px
                
                background-color: $darkcolor1
                border: 0
                &:hover
                    background-color: $mainblue
                    color: white


                

.schoolexercises
    background-color: $darkercolor
    h2
        font-size: 70px 
        color: $whitebg1 
        margin: 0
        border-left: 10px $mainblue solid
        font-family: Poppins
        margin-left: 10px

    .contentwrapper
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-items: center
        align-content: stretch
        font-family: poppins
        color: $whitebg1

        .slickwrapper2
            width: 65%
            .slick-arrow
                margin-left: -100px
            .slick-prev
            .project
                margin: 20px 0
                height: 600px
                background-color: $darkcolor1
                text-align: center
                .projectcontent
                    display: flex
                    justify-content: space-evenly
                    align-items: center
                    align-content: center
                    p
                        width: 300px

        .rightblock
            width: 25%
            height: 400px
            color: $whitebg1
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-around
            align-items: center
            align-content: center
            p
                width: 60%
            .customnext

            .customback

            button
                width: 50px
                height: 50px
                
                background-color: $darkcolor1
                border: 0
                &:hover
                    background-color: $mainblue
                    color: white




.timelapse
    width: 100%
    height: 100vh
    background-color: $whitebg1
    .background
        width: 100%
        height: 100%
        fill: red
        .line1
            stroke: $darkcolor1
            stroke-width: 2px
        .rect1
            width: 100px
            height: 30px
            fill: blue
            x: 100px
            y: 30px
            animation-name: test1
            animation-duration: 10s
            animation-timing-function: linear
            animation-iteration-count: infinite
        .circle1
            cx: 100px
            cy: 400px
            r: 40px
            stroke: black
            fill: red




//animations

@keyframes test1
    0%
        x: 100px
    50%
        x: 300px
    100%
        x: 50px  













.contact
    font-family: poppins
    width: 100%
    height: 100vh
    background-color: $darkcolor1  
    color: white
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    h2
        font-size: 40px
        font-weight: 900
        display: inline-flex
        .me
            background-color: $mainblue
            padding: 0 10px
    .up
        font-size: 50px
        color: $darkercolor
        transition-duration: 0.3s
        &:hover
            transform: scale(1.4)
    .linkswrapper
        display: flex
        width: 100%
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        font-size: 50px
        a
            color: $mainblue

    