$maincolor: blue
$subcolor1: lightblue
$darkcolor1: #222222

body
    margin: 0

html
    scroll-behavior: smooth

.homepage
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    align-content: stretch
    .textwrapper
        height: 50vh
        width: 100%
        .name
            width: 100%
            
            font-size: 30px

    .navwrapper
        height: 50vh
        width: 100%
        .nobg
            background: rgba(0,0,0,0) !important
        .navbar
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-evenly
            align-items: center
            align-content: stretch
            width: 100%
            background-color: $darkcolor1
            height: 50px
            z-index: 3

            
            a
                color: white
                text-decoration: none
                font-weight: bolder

        .expendbar
            color: white
            background-color: $darkcolor1
            height: 0px
            width: 100%
            transition: height 0.5s, margin 0.5s 
            text-align: center
            z-index: -2
            position: relative
            margin-top: -25px
            
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            overflow: hidden
            font-size: 0px


            p
                margin: 0
                color: grey
                
        .expended  
            height: 200px 
            margin-top: -125px 
            font-size: 150px



.aboutme
    width: 100%
    height: 100vh
    background-color: yellow   
    h2
        font-size: 200px         

.projectwrapper
    background-color: $maincolor
    width: 100%
    height: 100vh
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    align-items: center
    align-content: stretch

    .slickwrapper
        width: 65%
        .project
            margin: 20px 0
            height: 600px
            background-color: $subcolor1

    .leftblock
        width: 25%
        height: 400px


.personalprojecten
    width: 100%
    height: 100vh
    background-color: orange

.timelapse
    width: 100%
    height: 100vh
    background-color: red  

.contact
    width: 100%
    height: 100vh
    background-color: $darkcolor1  
    color: white
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    .linkswrapper
        display: flex
        width: 100%
        justify-content: space-evenly
        align-items: center

    